:root {
    --new-blue: #1B3B75;
    --new-skyblue: #68CBE1;
}

.footer-menu > ul > li.active > a {
    color: #828282;
}

h1.section-title,
.section-title-block h1 {
    font-size: 16px;
    text-transform: uppercase;
}

.about-mission-info-descr .d-lg-block {
    margin-bottom: 1rem;
}

.modal-photo-thumb-slide-item-img {
    aspect-ratio: 254 / 135;
    overflow: hidden;
}

.modal-photo-slide-img .image,
.modal-photo-thumb-slide-item-img .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.field.field--error input,
.field.field--error textarea,
.custom-checkbox-label--error .custom-checkbox {
   border-color: red;
}

.fb-modal--form-success p {
    text-align: center;
    font-size: 16px;
    font-family: "Montserrat", "Arial", sans-serif;
}

.s-learning-info-img img {
    display: block;
    max-width: 100%;
}

.section-rent {
    padding-top: 15px;
}

.section-rent .s-rent-title-block {
    padding-left: 0;
}

a.video {
    display: block;
}

.video-iframe-wrapper {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.video-iframe {
    border: none;
    height: 100%;
}

.course-top-info-type {
    max-width: 100px;
}

.course-top--purple,
.course-top--purple::before,
.course-top--purple .course-top-info-photo-item-more,
.course-top--purple .course-top-info-alt-params-block {
    background-color: #D1C8FE;
}

.course-top--grey,
.course-top--grey::before,
.course-top--grey .course-top-info-photo-item-more,
.course-top--grey .course-top-info-alt-params-block {
    background-color: #D2D2D3;
}

.course-info-block--result > :nth-child(2) {
    margin: 15px 0 0;
}

.course-info-block:not(.course-info-block--result) > :first-child {
    margin: 20px 0 0;
}

.course-info-block h4 {
    margin: 20px 0 15px;
    font-weight: bold;
}

.course-info-block h5 {
    margin: 20px 0 0;
    font-weight: bold;
    font-size: 12px;
    font-family: var(--monfont);
}

.course-info-block p {
    margin-top: 10px;
    font-family: var(--monfont);
}

.course-info-block ul {
    margin: 10px 0 0;
    padding-left: 20px;
    font-family: var(--monfont);
}

.course-info-block ol {
    margin: 10px 0 0;
    padding: 0;
    list-style: none;
    counter-reset: counter;
}

.course-info-block ol:not(:last-child) {
    margin-bottom: 30px;
}

.course-info-block ol li {
    position: relative;
    display: flex;
    align-items: center;
    width: calc(100% - 30px);
    counter-increment: counter;
}

.course-info-block ol li:not(:first-child) {
    margin-top: 15px;
}

.course-info-block ol li::before {
    content: counter(counter);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    height: 30px;
    margin-right: 19px;
    font-size: 16px;
    font-family: var(--monfont);
    background-color: #DBFE02;
    border-radius: 5px;
}

.news-single-content h4,
.news-single-content-text-block > :first-child {
    margin-top: 16px;
}

.mp-calendar-item--grey {
    background-color: #D2D2D3;
    border-color: #D2D2D3;
}

.mp-calendar-item-wrapper--three-days {
    width: 42.85%;
}

.mp-calendar-item-wrapper--four-days {
    width: 57.14%;
}

.mp-calendar-item {
    text-decoration: none;
}

.mp-calendar-item__day span {
    color: #EB5757;
}

.modal-photo-slide-video {
    aspect-ratio: 16 / 9;
}

.mp-one-slide-item--video {
    padding-left: 0;
}

.mp-one-slide-item__title--white {
    color: #fff;
}

.mp-one-slide-item__video {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
    overflow: hidden;
}

.mainscreen__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mp-calendar-item__city.mp-calendar-item__descr {
    margin-top: 0;
    font-weight: 700;
    font-size: 12px;
}

.course-item--color-1 .course-item-inner,
.course-item--color-1 .course-item-inner::before {
    background-color: var(--new-blue);
}

.course-item--color-1 .course-item-type,
.course-item--color-1 .course-item-title,
.course-item--color-1 .course-item-descr,
.course-item--color-1 .course-item-param,
.course-item--color-1 .course-item-speaker-name,
.course-item--color-1 .more-link {
    color: #fff;
}

.course-item--color-1 .more-link::after {
    background-color: #fff;
}

.course-item--color-1 .course-item-param {
    border-color: #fff;
}

.course-item--color-2 .course-item-inner,
.course-item--color-2 .course-item-inner::before {
    background-color: var(--new-skyblue);
}

.mp-one-slider,
.mp-one-slider::before {
    background-color: var(--new-blue);
}

.mp-one-slider::before {
    right: -1px;
}

.rent-single-top-slider::before {
    right: -1px;
}

.mp-one-slide-item__title {
    color: #fff;
}

.mp-one-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::before,
.mp-one-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active,
.mp-one-slider .swiper-button-next::after,
.mp-one-slider .swiper-button-prev::after {
    background-color: #fff;
}

.mp-one-slider .swiper-pagination .swiper-pagination-bullet,
.mp-one-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    border-color: #fff;
}

.mp-news-item--blue .mp-news-item-inner::before,
.mp-news-item--blue .mp-news-item-inner {
    background-color: var(--new-blue);
}

.mp-news-item--skyblue .mp-news-item-inner::before,
.mp-news-item--skyblue .mp-news-item-inner {
    background-color: var(--new-skyblue);
}

.mp-news-item--blue .mp-news-item-date,
.mp-news-item--blue .mp-news-item-title ,
.mp-news-item--blue .mp-news-item-descr,
.mp-news-item--blue .more-link {
    color: #fff;
}

.mp-news-item--blue .more-link::after {
    background-color: #fff;
}

.mp-news-photo-item-more {
    background-color: var(--new-blue);
}

.mp-news-photo-item-more__title {
    color: #fff;
}

.mobile-menu > ul > li a {
    font-family: "Montserrat", "Arial", sans-serif;
}

.about-photo-item--blue .about-photo-item-inner,
.about-photo-item--blue .about-photo-item-inner::before {
    background-color: var(--new-blue);
}

.about-photo-item--skyblue .about-photo-item-inner,
.about-photo-item--skyblue .about-photo-item-inner::before {
    background-color: var(--new-skyblue);
}

.about-photo-item--blue .about-photo-item-title,
.about-photo-item--blue .more-link {
    color: #fff;
}

.about-photo-item--blue .more-link::after {
    background-color: #fff;
}

.lecturer-course-slide-item--blue,
.lecturer-course-slide-item--blue::before {
    background-color: var(--new-blue);
}

.lecturer-course-slide-item--skyblue,
.lecturer-course-slide-item--skyblue::before {
    background-color: var(--new-skyblue);
}

.lecturer-course-slide-item--blue .lecturer-course-slide-item-title {
    color: #fff;
}

.courses-tab.active {
    background-color: var(--new-skyblue);
    border-color: var(--new-skyblue);
}

.pagination ul li.active a {
    color: #fff;
    background-color: var(--new-blue);
    border-color: var(--new-blue);
}

.course-info-block ol li::before {
    background-color: var(--new-blue);
}

.green-btn {
    background-color: var(--new-blue);
    border-color: var(--new-blue);
    color: #fff;
}

.green-btn:hover,
.green-btn:focus {
    background-color: var(--new-blue);
    border-color: var(--new-blue);
    color: #fff;
    opacity: .85;
}

.course-review--blue .course-review-inner,
.course-review--blue .course-review-inner::before {
    background-color: var(--new-blue);
}

.course-review--blue .course-review-date,
.course-review--blue .course-review-title-block,
.course-review--blue .course-review-descr {
    color: #fff;
}

.course-review--skyblue .course-review-inner,
.course-review--skyblue .course-review-inner::before {
    background-color: var(--new-skyblue);
}

.course-top--color-1,
.course-top--color-1::before,
.course-top--color-1 .course-top-info-alt-params-block,
.course-top--color-1 .course-top-info-photo-item-more {
    background-color: var(--new-blue);
}

.course-top--color-1 .course-top-lecturer-name,
.course-top--color-1 .course-top-lecturer-state,
.course-top--color-1 .course-top-info-alt-param,
.course-top--color-1 .course-top-info-photo-item-more__title {
    color: #fff;
}

.course-top--color-2,
.course-top--color-2::before,
.course-top--color-2 .course-top-info-alt-params-block,
.course-top--color-2 .course-top-info-photo-item-more {
    background-color: var(--new-skyblue);
}

.rent-item--blue,
.rent-item--blue::before {
    background-color: var(--new-blue);
}

.rent-item--blue .rent-item-title,
.rent-item--blue .rent-item-capacity,
.rent-item--blue .rent-item-price-table-h-col,
.rent-item--blue .rent-item-price-t-item-col,
.rent-item--blue .more-link {
    color: #fff;
}

.rent-item--blue .more-link::after {
    background-color: #fff;
}

.rent-item--blue .rent-item-price-t-item {
    border-color: #fff;
}

.rent-item--skyblue,
.rent-item--skyblue::before {
    background-color: var(--new-skyblue);
}

.rent-single-top-slider,
.rent-single-top-slider::before {
    background-color: var(--new-blue);
}

.rent-single-top-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active,
.rent-single-top-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::before,
.rent-single-top-slider .swiper-button-next::after,
.rent-single-top-slider .swiper-button-prev::after {
    background-color: #fff;
}

.rent-single-top-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet,
.rent-single-top-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    border-color: #fff;
}

.learning-direction-item--blue,
.learning-direction-item--blue::before {
    background-color: var(--new-blue);
}

.learning-direction-item--blue .learning-direction-item-title,
.learning-direction-item--blue .more-link {
    color: #fff;
}

.learning-direction-item--blue .more-link::after {
    background-color: #fff;
}

.learning-direction-item--skyblue,
.learning-direction-item--skyblue::before {
    background-color: var(--new-skyblue);
}

.contacts-block--blue,
.contacts-block--blue::before {
    background-color: var(--new-blue);
}

.contacts-block--blue .contacts-block-city,
.contacts-block--blue .contact-item__content,
.contacts-block--blue .contact-item__content a {
    color: #fff;
}

.contacts-block--skyblue,
.contacts-block--skyblue::before {
    background-color: var(--new-skyblue);
}

.form-replacement-text p {
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
}

.form-replacement-text p:last-child {
    margin: 0;
}

.form-replacement-text a {
    text-decoration: none;
    color: var(--new-blue);
    font-weight: 700;
    white-space: nowrap;
    transition: opacity .3s;
}

.form-replacement-text a:hover,
.form-replacement-text a:focus {
    opacity: .85;
    outline: none;
}

.rent-items-block__heading {
    margin-top: 35px;
}

.mp-calendar-item__descr.mp-calendar-item__descr--big {
    font-size: 12px;
}

.mp-calendar-item--default-color {
    border-color: var(--new-skyblue);
}

@media (min-width: 768px) {
    h1.section-title,
    .section-title-block h1 {
        font-size: 24px;
    }

    .section-rent {
        padding-top: 28px;
    }

    .course-info-block h4 {
        margin: 30px 0 30px;
    }

    .course-info-block h5 {
        margin: 30px 0 0;
        font-size: 14px;
    }

    .course-info-block ol li {
        width: calc(100% - 55px);
    }

    .course-info-block ol li::before {
        min-width: 55px;
        height: 55px;
        font-size: 14px;
    }

    .fb-modal--form-success p {
        font-size: 21px;
    }

    .form-replacement-text p {
        margin: 0 0 15px;
        font-size: 21px;
    }

    .rent-items-block__heading {
        margin-top: 50px;
    }
}

@media (min-width: 992px) {
    .news-single-content h4,
    .news-single-content-text-block > :first-child {
        margin-top: 40px;
    }

    .mp-news-block-left {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .mp-news-items-block {
        flex-grow: 1;
    }

    .mp-news-items {
        height: 100%;
    }

    .form-replacement-text p {
        margin: 0 0 20px;
        font-size: 24px;
    }

    .rent-items-block__heading {
        margin-top: 75px;
    }
}

@media (min-width: 1200px) {
    h1.section-title,
    .section-title-block h1 {
        font-size: 28px;
    }

    .mp-one-slider::before {
        right: -2px;
    }

    .rent-single-top-slider::before {
        right: -2px;
    }
}

@media (min-width: 1500px) {
    h1.section-title,
    .section-title-block h1 {
        font-size: 32px;
    }

    .course-info-block h5 {
        font-size: 16px;
    }

    .fb-modal--form-success p {
        font-size: 24px;
    }

    .mp-calendar-item__descr.mp-calendar-item__descr--big {
        font-size: 16px;
    }
}